.item{
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 5px;
}
#item1{
    margin: 5px auto;
}
#content{
    width: 90%;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
}
